:root{
    --fs-xl: clamp(1.5rem, 6vw, 8rem);
}

@font-face {
    font-family: 'Glitch'; /* Puedes elegir el nombre que quieras */
    src: url('/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
  }
  

body{
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.sidebar-container{
    height: 100%;
    width: 40vw;
}

#sidebar-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

#logo{
    width: clamp(1rem, 12vw, 8rem);
}

.logo-container{
    width: 40vw;
    position: absolute;
    bottom: 60vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1rem 0 1rem 0;

}

.logo-container > div {
    color: white;
    font-size: var(--fs-xl);
    font-family: 'Glitch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  