:root{
    --fs-xs: clamp(0.5rem, 1.5vw, 1rem);
    --fs-sm: clamp(0.75rem, 2vw, 2rem);
    --fs-xl: clamp(1.5rem, 6vw, 8rem);
}

@font-face {
    font-family: 'Glitch';
    src: url('./fonts/GlitchGoblin-2O87v.ttf') format('truetype');
  }

@font-face {
    font-family: 'Hacked';
    src: url('./fonts/Hacked-KerX.ttf') format('truetype');
  }
  

body{
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-size: var(--fs-sm);
    font-family: 'Hacked';

}

/*left side*/

#sidebar-container{
    height: 100%;
    width: 35vw;
}

#sidebar-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

#logo{
    width: clamp(1rem, 12vw, 8rem);
}

#logo-container{
    width: 35vw;
    position: absolute;
    bottom: 60%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1rem 0 1rem 0;
}

#logo-container > div {
    color: white;
    font-size: var(--fs-xl);
    font-family: 'Glitch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*right side*/

#form-container{
    height: 100%;
    width: 50vw;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container > section{
    padding-top: 1rem;
}

#form-container > section > div{
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 10px 20px 10px 0px rgba(200, 200, 200, 0.1);
}

.input-container{
    margin: 1rem 0 1rem 0;
}

.input-container > label{
    display: block ;
    font-size: var(--fs-xs);
}

input{
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

button{
    width: 40%;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#form-container p:last-child { 
    margin-top: 1rem;
    font-size: var(--fs-xs);
}

a{
    color: gray;
    text-decoration: none;
}
  
  @media screen and (max-width: 768px) {
    body{
        flex-direction: column;
    }

    /*left side*/
    #sidebar-container{
        height: 40%;
        width: 100vw;
    }

    #logo-container{
        width: 100vw;
        bottom: 80%;
    }

    /*right side*/
    #form-container{
        height: 60%;
        width: 100vw;
    }
}
